<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VistaInicioVendedor</title>
    <link rel="stylesheet" href="/bootstrap3.min.css">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/Features-Boxed.css">
    <link rel="stylesheet" href="/styles5.css">
    <link rel="stylesheet" href="/Projects-Horizontal.css" type="text/css"/>
  


</head>

<body>
    <section class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">VENDEDORES</h2>
            </div>
            
                <div class="row justify-content-center features">
                    <a href="/crear/vendedor">         
                <div class="col-sm-6 col-md-5 col-lg-4 item" >
                    <div class="box"><i class="fa fa-user icon"></i>
                        <h3 class="name">CREAR VENDEDOR</h3>
                    </div>
                 </a>   
                </div> 
            
            
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a href="/borrar/vendedor">
                    <div class="box"><i class="fa fa-remove icon"></i>
                        <h3 class="name">ELIMINAR VENDEDOR</h3>
                    </div>
                   </a>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a href="/vendedores">
                    <div class="box"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">CONSULTAR VENDEDORES</h3>
                    </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <a href="/actualizar/vendedor">
                    <div class="box"><i class="fa fa-arrow-circle-o-up icon"></i>
                        <h3 class="name">ACTUALIZAR VENDEDOR</h3>
                    </div>
                    </a>
                </div>
            </div>
            <a href="/"><button class="btn btn-primary d-block w-100" type="submit">VOLVER</button></a>        
        </div>
    </section>
    <script src="/bootstrap.min.js"></script>
</body>

</html>