<!DOCTYPE html>
<!Sonia Sanabria>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Login-Form-Clean.css">

    <h2 class="text-center"> Sistema de Facturación</h2>
    <h3 class="text-center"> Componente Gestión de Productos</h3>
    <h4 class="text-center">Agregar Producto</h4>
    
     <div class="container-sm"> 
  
</head>
    
    <body>
       
        <form th:action = "@{/crear/producto}" th:object="${producto}" method="post">
       
    <div class="form-group">
    <label for="codigoProducto"><font color ="teal">Código del producto</label>
    <input type="text" class="form-control" id="codigoProducto" placeholder="Dígite código" th:field="*{codigoProducto}"/>
    <small class="form-text text-muted"><font color ="silver">El codigo es único para cada producto, se compone de 5 letras y 3 números</small>
    </div>
            
    <div class="form-group">
    <label for="nombreProducto"><font color ="teal">Nombre del producto</label>
    <input type="text" class="form-control" id="nombreProdcuto" placeholder="Dígite nombre" th:field="*{nombreProducto}"/>
    </div>        
    
    <div class="form-group">
        <label class for="descripcionProducto"><font color ="teal">Descripción del producto</label>
    <input type="text" class="form-control" id="descripcionProdcuto" th:field="*{descripcionProducto}"/>
    <small class="form-text text-muted"><font color ="silver">La descripción corresponde al tipo de producto</small>
    </div>    
    
    <div class="form-group">
    <label for="precioProducto"><font color ="teal">Precio del producto</label>
    <input type="text" class="form-control" id="precioProdcuto" th:field="*{precioProducto}"/>
    <small class="form-text text-muted"><font color ="silver">en miles de pesos $</small>
    </div>    
            
                         
            <br/> <br/>               
            <input class="btn btn-success" type="submit" value="Agregar Producto">
                
            
        </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    
    
</div>
</html>